body {
  color: white;
  background-color: orange;
  margin: 0;
}

/*grid for body*/
.wrapper {
  display: grid;
  grid-gap: .25rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

/*nested grid*/
.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(auto-fill, minmax(320px, 5fr));
  justify-items: stretch;
  align-items: stretch;
}

.header {
  padding: .5rem;
  margin: 0;
  background-color: red;
  text-align: center;
}

  /*use flexbox for styling*/
.nav__menu {
  padding: .5rem;
  margin: 0;
  background-color: green;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

  .nav__menu .menu__item {
    list-style: none;
  }

  /*flexbox for placement*/
.sidebar {
  background-color: purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  /*child content alignment*/
.content {
  justify-self: center;
  align-self: center;
 }

  /*flexbox for style*/
.footer {
  background-color: blue;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.footer a {
  color: white;
  text-decoration: none;
}
