$primary: #339966
$accent: #33cccc

=border-radius($radius)
  -webkit-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

body
background: $primary
color: $accent
div
background: $primary
+border-radius(10px)
